body{
    background-color: rgb(0, 0, 0);
}
div{
    background-color: rgb(88, 88, 88);
    /* background-image: linear-gradient(to right, rgb(8, 8, 8) , rgb(102, 102, 102)); */
    width: 300px;
    height: 140px;
    position: relative;
    left: 110px;
    top: 30px;
    border-radius: 4px;
}
h1{
    position: relative;
    text-align: center;
    top: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 29px;
    top: 8px
}
button{
    position: relative;
    left: 120px;
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 2px;
}
button:hover{
    background-color: rgb(49, 39, 39);
    color: white;
}
#result{
    position: relative;
    top: -7px;
    color: black;
}